apiVersion: v1
kind: Secret
metadata:
  name: env-secrets
type: Opaque
data:
  SECRET_KEY: SECRET_KEY
  CLIENT_ID: CLIENT_ID
  CLIENT_SECRET: CLIENT_SECRET
  COSMOS_CONNECTION_STRING:COSMOS_CONNECTION_STRING
  LOGGLY_TOKEN: LOGGLY_TOKEN