{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items%}
        <li>
          id: {{item.id}} - Status: {{item.Status}} - Title: {{item.title}}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <html>
  <body>
    <form action="http://localhost:5000/item" method="POST">
      <p>Add Task <input type="text" placeholder="Enter title" name="title"></p>
      <p><input type="submit" value="submit"></p>
    </form>
  </body>
</html>
{% endblock %}
