{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Items</h3>
      <ul class="list-group mb-4">
        <span class="border border-primary">
          <table class="table table-sm table-striped table-hover table-bordered">
              <tr class="table-primary">
                <th>Id</th>
                <th>Item</th>
                <th>Status</th>
                <th>Update Item Status</th>
              </tr>
            <tbody>
              {% for item in items%}
              <tr>
                <td>{{item.short_id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.status}}</td>
                <td>
                  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups"></div>
                    <div class="btn-group mr-1" role="group" aria-label="in progress">
                      <form action="{{ url_for('set_item_in_progress') }}" method="POST">
                        <input type="hidden"  name="set to progress" value="{{item.id}}">
                        <button type="submit" class="btn btn-primary btn-sm" type="button">In progress</button>
                      </form>
                    </div>
                    <div class="btn-group mr-1" role="group" aria-label="Completed">
                      <form action="{{ url_for('set_item_complete') }}" method="POST">
                        <input type="hidden"  name="mark as completed" value="{{item.id}}">
                        <button type="submit" class="btn btn-success btn-sm" type="button">Completed</button>
                      </form>
                    </div>
                    <div class="btn-group mr-1" role="group" aria-label="No Started">
                      <form action="{{ url_for('reset_item_status') }}" method="POST">
                        <input type="hidden"  name="Reset item status" value="{{item.id}}">
                        <button type="submit" class="btn btn-danger btn-sm" type="button">No Started</button>
                      </div>
                      </form>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </span>
      </ul>
    </div>
  </div>
  <form action="{{ url_for('add_item') }}" method="POST">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Add item here" name="title">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}

