{% extends "layout.html" %}

{% macro display_item(item) -%}
<li class="list-group-item" data-test-class="task">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{ item.name }}</h5>
    <h5 class="mb-1">{{ item.desc }}</h5>
    <h5 class="mb-1">{{ item.due }}</h5>
    {% if item.status == 'Completed' %}
      {% set badge_style = 'badge-primary' %}
    {% elif item.status == 'Not Started' %}
      {% set badge_style = 'badge-danger' %}
    {% else %}
      {% set badge_style = 'badge-success' %}
    {% endif %}
    <div><span class="badge {{ badge_style }}">{{ item.status }}</span></div>
  </div>
  {% if item.status == 'Completed' %}
    <a href="{{ url_for('set_item_status', item_id=item.id) }}" class="btn btn-sm btn-secondary">Reset item status</a>
  {% elif item.status == 'Not Started' %}
    <a href="{{ url_for('set_item_to_progress', item_id=item.id) }}" class="btn btn-sm btn-danger">Set to progress</a>
  {% else %}
    <a href="{{ url_for('set_item_to_complete', item_id=item.id) }}" class="btn btn-sm btn-primary">Mark as completed</a>
  {% endif %}
</li>
{%- endmacro %}

{% macro display_item_list(title, items, test_id) -%}
<div class="row">
  <div class="col-md-12" data-test-id="{{ test_id }}">
    <h5>{{ title }}</h5>
    <ul class="list-group mb-4">
      {% for item in items %}
        {{ display_item(item) }}
      {% endfor %}
    </ul>
  </div>
</div>
{%- endmacro %}

{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h5>New item</h5>
      <form action="{{ url_for('add_new_item') }}" method="POST">
        <div class="form-group form-row align-items-center">
          <div class="col">
            <input type="text" name="name" id="name-input" class="form-control" placeholder="Add item here" aria-label="Name" data-test-id="name-input">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Add item description here" name="desc text">
          </div>
          <div class="col">
            <input type="date" id="date" class="form-control" name="date" value="{{ selectedDate if selectedDate else todaysDate }}">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-success">submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
  <div class="row align-items-start">
    <div class="col-md">
      <div class="p-3 mb-2 bg-dark text-white">Workflow</div>
    </div>
    <div class="col-md">
      <div class="p-3 mb-2 bg-dark text-white">Item description</div>
    </div>
    <div class="col-md">
      <div class="p-3 mb-2 bg-dark text-white">Item due date</div>
    </div>
  </div>
</div>
  {{ display_item_list('Not Started', view_model.not_started_items, 'not_started-section') }}
  {{ display_item_list('In Progress', view_model.in_Progress_items, 'in_progress-section') }}

  {% if view_model.should_show_all_completed_items %}
    {{ display_item_list('Completed', view_model.completed_items, 'completed-section') }}
  {% else %}
    {{ display_item_list('Recently Completed', view_model.recent_completed_items, 'recently-completed-section') }}
    <details>
      {{ display_item_list('', view_model.older_completed_items, 'older-completed-section') }}
      <summary>Older Tasks</summary>
    </details>
  {% endif %}

{% endblock %}